@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@100&family=Roboto+Mono:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --goldyellow: #feda81
}

* img {
    width: 100%;
    height: auto;
}

body {
    background-color: #f8d175;
    font-family: sans-serif;
}

header {
    background: rgb(255,255,255);
    background: linear-gradient(rgba(255,255,255,1) 77%, rgba(240,240,240,1) 100%);
    width: 100%;
    height: 100px;
}

li {
    list-style: none;
}

.logo {
    width: 230px;
    margin-top: 5px;
    margin-left: 20px;
}

/* Menu */

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-menu i {
    margin-right: 20px;
    font-size: 25px;
    color: var(--goldyellow)
}

.container-items {
    color: --goldyellow;
    width: 100%;
    order: 1;
}

.colorcito {
    color: black;
}

.colorcito:hover {
    color: #feda85
}

.item {
    color: var(--goldyellow);
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
    display: none;
}

/* Section 1st */

.first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.png-dogs {
    max-width: 600px;
    width: 100%;

}

.fs-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fs-content p {
    text-align: center;
    font-size: 30px;
    margin: 1rem 1rem 2rem 1rem;
    color: white;
}

.btns {
    margin: 30px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.btn-hero {
    background-color: white;
    color: #ffb700;
    padding: 1rem 1rem;
    border-radius: 1rem;
}

.btn-hero2 {
    background-color: #ffb700; 
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
}

/* Second section */

.second-section {
    background: #232526;
    background: -webkit-linear-gradient(#414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    height: 300px;
}

.second-section h2 {
    font-size: 2rem;
}

.second-section p {
    font-size: 23px;
}

/* Third section */

.third-section {
    background: rgb(255, 252, 252);
    padding-bottom: 20px;
}

.third-section h3 {
color: #ffb700;
text-align: center;
font-size: 2rem;
padding: 20px 0;
}

.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.cart-container img {
    border-radius: 30px;
}
.img-parrilla1 {
    width: 100%;
    max-width: 390px;
}

.img-parrilla2 {
    width: 100%;
    max-width: 390px;
}

.img-pileta {
    width: 100%;
    max-width: 390px;
}

.cart-container p {
    background-color: #ffb700; 
    color: white;
    margin: 5px 0;
    padding: 1rem 1rem;
    border-radius: 1rem;
    border-style: solid;
    border-width: 0 0 0 10px;
    border-color: grey;
}

/* Nuevo div */

.steps {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.steps p {
    font-size: 1rem;
    color: white;
    margin: 30px 0;
}

.messagedirect {
    font-size: 100px;
    color:white;
}

.location {
    font-size: 100px;
    color:white;
}

.market {
    font-size: 100px;
    color: white;
}

/* Contact Us */

.footer{
    background: #232526;
    background: -webkit-linear-gradient(#414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    height: 100vh;
    max-height: 550px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.redes {
    padding: 10px 0;
}

.Contact-us-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.maps {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Footer medio pobre  (Me dio muchos problemas el map con el width)*/

.ending {
    background-color: aliceblue;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.redess {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.redess i {
    font-size: 1.5rem;
}

.ending h3 {
    font-size: 1.5rem;
}

.redess i:hover {
    color: blue
}

/* Hover en botones de la section 1 */

.btn-hero2:hover {
    background-color: #e4a401;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
}

.btn-hero:hover {
    background-color: #e5e5e5; 
    color: #ffb700;
    padding: 1rem 1rem;
    border-radius: 1rem;
}

/* Media Queries */

/* Desktop */

@media screen and (min-width: 1024px) {
.item {
    display: flex;
    padding: 50px;
}

.container-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-menu {
    flex-wrap: nowrap;
    justify-content: space-around;
}

.bar-btn {
    display: none;
}

.third-section {
    background: rgb(255, 252, 252);
    padding-bottom: 20px;

}

.third-section h3 {
color: #ffb700;
text-align: center;
font-size: 2rem;
padding: 20px 0;
}

.cart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.cart-container img {
    border-radius: 30px;
}
.img-parrilla1 img {
    width: 100%;
}

.img-parrilla2 img{
    width: 100%;
}

.img-pileta img{
    width: 100%;
}

.cart-container p {
    background-color: #ffb700; 
    color: white;
    margin: 5px 0;
    padding: 1rem 1rem;
    border-radius: 1rem;
    border-style: solid;
    border-width: 0 0 0 10px;
    border-color: grey;
}

.steps {
    margin: 20px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.steps p {
    font-size: 13px;
    color: white;
    margin: 30px 0;
}

.messagedirect {
    font-size: 100px;
    color:white;
}

.location {
    font-size: 100px;
    color:white;
}

.market {
    font-size: 100px;
    color: white;
}
.img-pileta img{

}


.ending {
    background-color: aliceblue;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

}